html{
    height: 100%;
}

body{
    margin: 0;
    font-family: 'Monstserra', sans-serif;
    height: 100%;
}

* {box-sizing: border-box}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
}




/*-----------------------------------|
|              Navbar                |
|-----------------------------------*/


.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 1.0625em	;
    width: 25%; /* Four links of equal widths.*/
    text-align: center;
}
    @media screen and (min-device-width: 320px) and (max-device-width: 350px)
    {
        .navbar a{
            width: 9em;
        }
    }

    @media screen and (min-device-width: 351px) and (max-device-width: 400px)
    {
        .navbar a{
            width:10em;
        }
    }

    @media screen and (min-device-width: 401px) and (max-device-width: 700px)
    {
        .navbar a{
            width: 12em;
        }
    }

 

.navbar a:hover {
    background-color: #000;
}

.navbar a.active {
    background-color: #4CAF50;
}




/*-----------------------------------|
|              Pictures              |
|-----------------------------------*/


.pic1{
    width: 100%;
    height: auto;
}


.pic2{
    width: 100%;
    height: auto;
}


.pic3{
    width: 100%;
    height: auto;
}


.pic4{
    width: 100%;
    height: auto;
}


.pic1cont{
    background-color: rgb(0, 123, 167);
}

.pic3cont{
    background-color: rgb(0, 123, 167);
}















/*------------------------------------|
|        Paragraph Containers         |
|------------------------------------*/

.p1container{
    background-color: rgb(0, 123, 167);
    padding: 2em;
    color: white;
}

.p2container{
    background: whitesmoke;
    padding: 2em;
}

.p3container{
    background-color: rgb(0, 123, 167);
    padding: 2em;
    color: white;
}

.p4container{
    background-color: whitesmoke;
    padding: 2em;
}








/*-------------------------------------|
|             Paragraphs               |
|-------------------------------------*/


#para1{
    text-justify: distribute;
    text-align: center;
    padding: 1em;
    font-size: 1em;
}


#para2{
    text-justify: distribute;
    text-align: center;
    padding: 1em;
    font-size: 1em;
}


#para3{
    text-justify: distribute;
    text-align: center;
    padding: 1em;
    font-size: 1em;
}


#para4{
    text-justify: distribute;
    text-align: center;
    padding: 1em;
    font-size: 1em;
}


@media screen and (min-device-width: 700px) and (max-device-width: 1023px)
{
    #para1{
        font-size: 1.5em;
        text-justify: distribute;
        text-align: center;
        padding-left: 25%;
        padding-right: 26%;
    }

    #para2{
        font-size: 1.5em;
        text-justify: distribute;
        text-align: center;
        padding-left: 25%;
        padding-right: 26%;
    }

    #para3{
        font-size: 1.5em;
        text-justify: distribute;
        text-align: center;
        padding-left: 25%;
        padding-right: 26%;
    }

    #para4{
        font-size: 1.5em;
        text-justify: distribute;
        text-align: center;
        padding-left: 25%;
        padding-right: 26%;
    }
}


@media screen and (min-device-width: 1024px) and (max-device-width: 1400px)
{
    #para1{
        font-size: 2em;
        text-justify: distribute;
        text-align: center;
        padding-left: 25%;
        padding-right: 26%;
    }

    #para2{
        font-size: 2em;
        text-justify: distribute;
        text-align: center;
        padding-left: 25%;
        padding-right: 26%;
    }

    #para3{
        font-size: 2em;
        text-justify: distribute;
        text-align: center;
        padding-left: 25%;
        padding-right: 26%;
    }

    #para4{
        font-size: 2em;
        text-justify: distribute;
        text-align: center;
        padding-left: 25%;
        padding-right: 26%;
    }
}



@media screen and (min-device-width: 1401px) and (max-device-width: 2500px)
{
    #para1{
        font-size: 2.5em;
        text-justify: distribute;
        text-align: center;
        padding-left: 25%;
        padding-right: 26%;
    }

    #para2{
        font-size: 2.5em;
        text-justify: distribute;
        text-align: center;
        padding-left: 25%;
        padding-right: 26%;
    }

    #para3{
        font-size: 2.5em;
        text-justify: distribute;
        text-align: center;
        padding-left: 25%;
        padding-right: 26%;
    }

    #para4{
        font-size: 2.5em;
        text-justify: distribute;
        text-align: center;
        padding-left: 25%;
        padding-right: 26%;
    }

}

















/*--------------------------------|
|         Desktop Layout          |
|--------------------------------*/


@media screen and (min-device-width: 1500px) and (max-device-width: 5000px)
{
    
    .para1cont{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .para2cont{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
    }

    .para3cont{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .para4cont{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #para1{
        border-left: 2em;
        padding: 2em;
        font-size: 2em;
        text-align: end;
        text-justify: newspaper;
        padding-left: 10em;
    }

    .pic1{
        height: 100%;
        width: 250%;
        opacity: 1;
        transition: none;
    }


    #para2{
        border-right: 2em;
        padding: 2em;
        font-size: 2em;
        text-align: end;
        text-justify: newspaper;
        padding-left: 11em;
    }

    .pic2{
        height: 100%;
        width: 172%;
    }

    #para3{
        border-right: 2em;
        padding: 2em;
        font-size: 2em;
        text-align: end;
        text-justify: newspaper;
        padding-left: 15em;
    }

    .pic3{
        height: 100%;
        width: 425%;
    }

    #para4{
        border-right: 2em;
        padding: 2em;
        font-size: 2em;
        text-align: end;
        text-justify: newspaper;
        padding-left: 17em;
    }

    .pic4{
        height: 100%;
        width: 505%;
    }

    .text{
        font-size: 3em;
    }


    .pic1cont:hover .middle{
        top: 25%;
        left: 15%;
    }

    .pic2cont:hover .middle1{
        top: 75%;
        left: 15%;
    }

    .pic3cont:hover .middle2{
        top: 125%;
        left: 15%;
    }

    .pic4cont:hover .middle3{
        top: 175%;
        left: 15%;
    }

}
    









/*----------------------------------|
|            transition             |
|----------------------------------*/

#para1{
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s
}

#para2{
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s
}


#para3{
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s
}


#para4{
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s
}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}



/*-----------------------------------|
|             img effect             |
|-----------------------------------*/

/* https://www.w3schools.com/css/css3_images.asp (image name cards) */

.pic1{
    transition: 3s ease;
    backface-visibility: hidden;
}

.middle{
    transition: .2s ease;
    opacity: 0;
    position: absolute;
    top: auto;
    left: auto;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}



.pic1cont:hover .pic1{
    opacity: 1;
}

.pic1cont:hover .middle{
    opacity: 1;
}

.text{
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}




.pic2{
    transition: 3s ease;
    backface-visibility: hidden;
}

.pic2cont:hover .pic2{
    opacity: 1;
}

.pic2cont:hover .middle1{
    opacity: 1;
}

.middle1{
    transition: .2s ease;
    opacity: 0;
    position: absolute;
    top: auto;
    left: auto;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}




.pic3{
    transition: 3s ease;
    backface-visibility: hidden;
}

.pic3cont:hover .pic3{
    opacity: 1;
}

.pic3cont:hover .middle2{
    opacity: 1;
}

.middle2{
    transition: .2s ease;
    opacity: 0;
    position: absolute;
    top: auto;
    left: auto;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}



.pic4{
    transition: 3s ease;
    backface-visibility: hidden;
}

.pic4cont:hover .pic4{
    opacity: 1;
}

.pic4cont:hover .middle3{
    opacity: 1;
}

.middle3{
    transition: .2s ease;
    opacity: 0;
    position: absolute;
    top: auto;
    left: auto;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}


@media screen and (min-device-width: 320px) and (max-device-width: 359px)
{
    .middle{
        top: 50%;
        left: 50%;
    }

    .middle1{
        top: 145%;
        left: 50%;
    }

    .middle2{
        top: 245%;
        left: 50%;
    }

    .middle3{
        top: 365%;
        left: 50%;
    }

}




@media screen and (min-device-width: 360px) and (max-device-width: 374px)
{
    .middle{
        left: 50%;
    }

    .middle1{
        top: 130%;
        left: 50%;
    }

    .middle2{
        top: 220%;
        left: 50%;
    }

    .middle3{
        top: 320%;
        left: 50%;
    }

    .text{
        font-size: 1em;
    }
}


@media screen and (min-device-width: 375px) and (max-device-width: 410px)
{
    .middle{
        left: 50%;
    }

    .middle1{
        top: 105%;
        left: 50%;
    }

    .middle2{
        top: 175%;
        left: 50%;
    }

    .middle3{
        top: 255%;
        left: 50%;
    }
}



@media screen and (min-device-width: 411px) and (max-device-width: 767px)
{
    .middle{
        left: 50%;
    }

    .middle1{
        top: 120%;
        left: 50%;
    }

    .middle2{
        top: 200%;
        left: 50%;
    }

    .middle3{
        top: 285%;
        left: 50%;
    }
}


@media screen and (min-device-width: 768px) and (max-device-width: 1023px)
{
    .middle{
        left: 50%;
    }

    .middle1{
        top: 145%;
        left: 50%;
    }

    .middle2{
        top: 245%;
        left: 50%;
    }

    .middle3{
        top: 360%;
        left: 50%;
    }

    .text{
        font-size: 2em;   
    }
}




@media screen and (min-device-width: 1024px) and (max-device-width: 1400px)
{
    .middle{
        left: 50%;
    }

    .middle1{
        top: 140%;
        left: 50%;
    }

    .middle2{
        top: 240%;
        left: 50%;
    }

    .middle3{
        top: 350%;
        left: 50%;
    }

    .text{
        font-size: 3em;
    }
}



/*----------------------------------|
|              footer               |
|----------------------------------*/

.footer{
    background-color: whitesmoke;
    padding: 1em;
}

#ul{
    text-align: center;
}
 

